{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1 class="logo" id="top-left-logo">Todo</h1>
<img src="/static/assets/images/peeking_bunny.png" id="peeking-bunny" />
<div id="greeting-div">

    <p id="title-text" >Let's get things done with</p><p class="logo"> Todo</p> 
    <div id="button-row">
        <a href="{{url_for('login')}}" class="action-button">Log in</a>
        <a href="{{url_for('register')}}" class="action-button">Register</a>
    </div>
</div>


{% endblock %}